{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Shop</title>
</head>
<body>
<ul>
    {% if object.is_superuser or object.is_staff %}
        <li>
            <a href="{% url "admin:index" %}">Admin Page</a>
        </li>
    {% endif %}
    <li>
        <a href="{% url 'logout' %}">Logout</a>
    </li>

    <li>
        <a href="{% url 'display cart' username=user.username pk=user.pk %}">Cart</a>
    </li>
    <li>
        <a href="{% url 'home page' %}">Go to Shop</a>
    </li>
    <li>
        <a href="{% url 'details profile' username=user.username pk=user.pk %}">Profile</a>
    </li>


</ul>

<div id="profile_wrapper">

    <div class="card">
        {% if not user.profile_picture %}
            <img src="{% static 'images/no-image.jpg' %}" alt="" style="width:60%">
        {% else %}
            <img src="{{ user.profile_picture }}" alt="" style="width:60%">
        {% endif %}

        <h1>{{ name }}</h1>
        <p class="title">{{ user.email }}</p>
        {% if user.gender %}
            <p>{{ user.gender }}</p>
        {% endif %}
        <p>
            <button><a href="{% url 'edit profile' username=user.username pk=user.pk %}">Edit profile</a></button>
        </p>
    </div>

</div>

</body>
</html>